<!---
<nav class="navbar navbar-inverse">
    <div class="container-fluid" >
      <div class="navbar-header">
          
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button> 
        <a class="navbar-brand" href="#" style="font-size: 20px;">APARTMENT</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active current" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/home">Home</a></li>
          <li routerLinkActive="active current"><a routerLink="/location">Location</a></li>
          
          <li routerLinkActive="active current"><a routerLink="/register">Register</a></li>
          <li routerLinkActive="active current"><a routerLink="/login">Login</a></li>  
          <li routerLinkActive="active current"><a routerLink="/help">Help</a></li>
      
        
        </ul>
    </div>
      
    </div>
  </nav>

-->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-button routerLink="/front">HOSTEL</button>
      
      <span class="spacer"></span>
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/location">Location</button>
      <button mat-button routerLink="/register">Register</button>
      <button mat-button routerLink="/login">Login</button>
      <button mat-button routerLink="/help">Help</button>
      <button mat-button routerLink="/event">Events</button>   
    </mat-toolbar-row>
  </mat-toolbar>