<!--<!DOCTYPE html>
<html>
<head>

<meta name='viewport' content='width=device-width, initial-scale=1'>


</head>
<body>

<button style='font-size:48px;width:250px;height:400px;background-color:lightgreen' routerLink="/book">Gachibowli
</button>

<button style='font-size:48px;width:250px;height:400px;background-color:lightblue' routerLink="/book">Kondapur
</button>


<button style='font-size:48px;width:250px;height:400px;background-color:yellow' routerLink="/book">Kukatpally
</button>

</body>
</html>


-->
<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  body { 
			background : url(http://ppcdn.500px.org/75319705/1991f76c0c6a91ae1d23eb94ac5c7a9f7e79c480/2048.jpg);
			
      	background-size:  cover;
		
}
  </style>
</head>
<body> 
 <div >
<div class="container">
  <h2>LOCATIONS</h2>
  <div class="card">
    <div class="card-body" routerLink="/book" style="width:100%;height:100px;background-color:coral;text-align: center;font-size: 30px;">Gachibowli</div>
  </div>
  <br>
  <div class="card">
        <div class="card-body" routerLink="/book" style="width:100%;height:100px;background-color:coral;text-align: center;font-size: 30px;">Kondapur</div>
      </div>
<br>      <div class="card">
            <div class="card-body" style="width:100%;height:100px;background-color:coral;text-align: center;font-size: 30px;">Kukatpally</div>
          </div>
</div>
</div>
</body>
</html>

